<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Chat</title>
  </head>
  <body style="background-color: #ffe4e1">
    <nav class="navbar navbar-expand-lg navbar-red navbar-dark">
      <div class="wrap"></div>
      <div class="container-fluid all-show">
        <a class="navbar-brand" href="/" style="color: #c1c8e4">
          Internship Portal
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/"><i class="fa fa-home"> Home</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chat"
                ><i class="fas fa-comment">Internbot</i></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recommend"
                ><i class="fas fa-comment">Browse Internships</i></a
              >
            </li>

            {% if current_user.is_authenticated %} {% if not current_user.role
            == "admin" %}
            <li class="nav-item">
              <a class="nav-link" href="/newinternship"
                ><i class="fa fa-plus"> New Internship</i></a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/profile/{{current_user.id}}"
                ><i class="fa fa-user"> User</i></a
              >
            </li>
            {% endif %} {% endif %}

            <li class="nav-item">
              <a class="nav-link" href="/aboutus"
                ><i class="fa fa-info-circle"> About us</i></a
              >
            </li>
            {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login"
                ><i class="fa fa-sign-in"> Student Login</i></a
              >
            </li>
            {% endif %} {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin/login"
                ><i class="fa fa-sign-in"> Admin Login</i></a
              >
            </li>
            {% endif %} {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/logout"
                ><i class="fa fa-sign-out"> Logout</i></a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <iframe
      src="https://webchat.botframework.com/embed/internship?s=Jat3UDJgJYU.Sp59UWpid3-IDQDI3nVpgVUJmoX1VNoctJIv3KkJxcc"
      style="
        min-width: 400px;
        width: 100%;
        height: auto;
        min-height: 500px;
        background-color: #ffe4e1;
      "
    ></iframe>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
